# Python
__pycache__
*.exe
*.pyc
*.pyo
*.pyd
.Python
*.so

# Node.js
node_modules/
dist/
dist-ssr/
*.local
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# User Configs
client*.bin
cookies*.txt
urls*.txt
*.pem
*.wvd

# Project specific
db/
Spotify/
temp/
*.sqlite3
*.db
