click
django
django-debug-toolbar
django-huey-monitor
django-stubs[compatible-mypy]
django-stubs-ext
dynaconf
huey
jinja2
pybase62
pylint-django
pymediainfo
pyyaml
# spotdl
git+https://github.com/Kyrluckechuck/spotify-downloader.git@add-yt-dlp-extractor-support#egg=spotdl

