{% load static %}
<head>

</head>
<body>
    <h2 class="importer_header"><img src="{% static 'library_manager/images/spotify_icon_128.png' %}" width="128" height="128"><div class="title">Spotify AAC Downloader</div></h2>
    <br>
    <br>
    <a href="{% url 'library_manager:index' %}">Home</a>
    <br>

    <h1>Artist | {{ artist_details.name }}</h1>
    Artist ID: {{ artist_details.id }}
    <br/>
    Artist GID: {{ artist_details.gid }}
    <br/>
    Number of songs: {{ artist_details.number_songs }}
    <br/>
    <form action="{% url 'library_manager:track_artist' artist_details.id %}" method="post">
        {% csrf_token %}
        
        {{ form }}
        <input type="submit" name='toggle tracking' value="Save">
    </form>
    <br/>
    <form action="{% url 'library_manager:download_all_albums_for_artist' artist_details.id %}" method="post">
        {% csrf_token %}

        <input type="submit" name='download all for artist' value="Download All Albums">
    </form>
    <br/>
    Songs:
    <ul>
        {% for song_details in artist_songs %}
            <li><a href="{% url 'library_manager:song' song_details.song.id %}">{{ song_details.song.name }}</a></li>
        {% endfor %}
    </ul>
</body>
<footer>

</footer>