{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'library_manager/style.css' %}">
    <h2 class="importer_header"><img src="{% static 'library_manager/images/spotify_icon_128.png' %}" width="128" height="128"><div class="title">Spotify AAC Downloader</div></h2>

    <div class="navbar">
        <a href="{% url 'library_manager:index' %}">Home</a>
        <a href="{% url 'library_manager:download_history' %}">Download History</a>
        <a href="{% url 'library_manager:tracked_playlists' %}">Tracked Playlists</a>
        <div class="dropdown">
          <button class="dropbtn">Extras/Tasks 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'library_manager:missing_known_songs' %}">Missing Known Songs</a>
            <a href="{% url 'library_manager:undownloaded_songs' %}">Undownloaded Songs</a>
          </div>
        </div> 
      </div>
</head>