.importer_header {
    color: black;
    display: flex;
    align-items: center;

    .title {
        margin-left: 1em;
    }
}

.track_artist_row {
    display: flex;
    max-height: 18px;
}

.header_links {
    padding: 0px;
    li {
        display:inline;
        padding: 5px 5px;
        a {
            color: green;
        }
    }
}
